<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/status/A1001ptMujUsg-jbfQnxdjkvcNWT_QcVlTTjelHVcF-nPzuvpbI8gimb5mw7WUhjLgWAeJdc1_OT5TN5zpzp5NjlzuN6vZdEd8gNnTCmlbC8357kvDpizfAb2-f9mzEZ4K6J7tCUrKR2tSgiKWu7GS5FTRw==" method="GET">
        <button type="submit">Check</button>
    </form>
</body>
</html>